.register-page .form-signup {
  width: 30%;
  margin: 100px auto;
}
.register-page {
  padding-top: 150px;
}
.register-page .subbt:hover {
  background-color: #79b42b;
}
.register-page .subbt {
  text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
  background-color: #79b42b;
  border: none;
  color: #fff;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px !important;

  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 150px !important;
  margin-left: 35% !important;
}
.register-page .link-login {
  margin-left: 40%;
}
.register-page .headit {
  position: relative;
  top: -10px;
}
.register-page .headit h4 {
  color: #474646;
  font-size: 30px;
}
.register-page .bts a:hover {
  text-decoration: none;
  color: white;
}
.register-page .bts a:active {
  color: white;
  text-decoration: none;
}
.register-page .bts a:focus {
  text-decoration: none;
  color: white;
}
.register-page .headit a {
  text-decoration: none;
}
.register-page .signUp-form {
  display: flex;
  flex-direction: column;
}
.register-page input {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 0.7em;
  margin: 0.6em 0;
  border-radius: 0;
  margin-bottom: 15px;
}
